<div id="<%= dom_id frequentquestion %>">
  <p>
    <strong>Questions:</strong>
    <%= frequentquestion.questions %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= frequentquestion.answer %>
  </p>

</div>
