<h1>Editing frequentquestion</h1>

<%= render "form", frequentquestion: @frequentquestion%>

<br>

<div>
  <%= link_to "Show this frequentquestion", @frequentquestion %> |
  <%= link_to "Back to frequentquestions", frequentquestions_path %>
</div>
