<p style="color: green"><%= notice %></p>

<h1>FrequentquestionsINDEX</h1>

<div id="frequentquestions">
  <% @frequentquestions.each do |frequentquestion| %>
    <%= render frequentquestion %>
    <p>
    <% if current_admin %>
      <%= link_to "Editar", frequentquestion %> 
    <%end%>
    </p>
  <% end %>
</div>

