<p style="color: green"><%= notice %></p>

<h1>Frequentquestions</h1>

<div id="frequentquestions">
  <% @frequentquestions.each do |frequentquestion| %>
    <%= render frequentquestion %>
    <p>
      <%= link_to "Show this frequentquestion", frequentquestion %>
    </p>
  <% end %>
</div>

<%= link_to "New frequentquestion", new_frequentquestion_path %>
