<footer class="footer-1 bg-secondary" id="foot">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <%= image_tag 'logo-dark.png' %>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Nuestros Hashtags</h6>
          <hr>
          <p>Usa nuestros #Hashtags en tus fotos de verano:</p>
          <ul class="link-list recent-posts">
            <li>
              <span class="number hashtags">#NIZA</span>
            </li>
            <li>
              <span class="number hashtags">#NizaClothing</span>
            </li>
            <li>
              <span class="number hashtags">#NizaBikini</span>
            </li>
          </ul>
        </div>
        <!--end of widget-->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Nuestras Redes Sociales</h6>
          <hr>
          <div class="instafeed" data-user-name="mrareweb">
            <p>Seguinos en nuestras redes sociales:</p>
            <a href="https://www.instagram.com/niza_clothing/" target="_blank">
              <i class="ti ti-instagram icon icon-sm social-network"></i>
            </a>
            <a href="https://www.facebook.com/Niza-Clothing-2214886572082347/" target="_blank">
              <i class="ti ti-facebook icon icon-sm social-network"></i>
            </a>
          </div>
        </div>
        <!--end of widget-->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="widget">
          <h6 class="title">Contactanos</h6>
          <hr>
          <div class="instafeed" data-user-name="mrareweb">
            <p>Tu consulta no nos molesta. Podemos asesorarte en todo momento. Mandanos un correo a:</p>
            <P>Email: ventas@nizaclothing.com</P>
          </div>
        </div>
        <!--end of widget-->
      </div>
    </div>
    <!--end of row-->
    <div class="row">
      <div class="col-xs-6">
        <span class="sub">&copy; Copyright 2018 - Niza Clothing</span>
      </div>
      <div class="col-xs-6 text-right">
        <span class="sub">&copy; Powered by - <a href="http://wavelabs-studio.com/" target="_blank">WaveLabs</a></span>
      </div>
    </div>
  </div>
  <!--end of container-->
  <a class="btn btn-sm fade-half back-to-top inner-link" href="#top">Top</a>
</footer>