<div class="cl-sidebar">
  <div class="cl-toggle">
    <i class="fa fa-bars"></i>
  </div>
  <div class="cl-navblock">
    <div class="menu-space">
      
        <div class="content">
          <ul class="cl-vnavigation">
            <li><a href="/" target="_blank"><i class="fa fa-desktop"></i><span>Ver pagina web</span></a>
            </li>
            <li><a href="#"><i class="fa fa-desktop"></i><span>Layouts</span></a>
              <ul class="sub-menu">
                <li><a href="layout-boxed.html"><span class="label label-primary pull-right">New</span>Boxed Layout</a></li>
                <li><a href="layout-topbar.html"><span class="label label-primary pull-right">New</span>Top Menu</a></li>
              </ul>
            </li>
        </div>
      </div>