<!DOCTYPE html>
<html>
  <head>
    <title>e-commerce</title>
    <%= csrf_meta_tags %>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
  </head>

  <body>
     <%= render '/admin/sidebar' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
